extends ../auth_layout
block content
  form(action='/auth/signin', method='post')
    p
      input(type='text', name='username', placeholder='id')
    p
      input(type='password', name='password', placeholder='password')
    p
      input(type='submit')