extends ../user_layout
block content
    p
      input(type='text', name='title', placeholder='title')
    p
      textarea(name="description", placeholder="description")
    form(action='/user/upload/create' method='post' enctype='multipart/form-data')
      table(border='1')
        tbody
          tr 
            ="Image"
            td
              input(type='file' name='image')
          tr
            td(colspan='2')
              button(type='submit') 글쓰기
